/* Reset some default browser styles */
body,
button,
input,
label {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}

/* Overall page styles */
body {
  font-size: 16px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Container for the book library */
#library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for book cards */
.book-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

/* Styles for the "New Book" form */
#new-book-form {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  display: none;
}

/* Styles for the "New Book" button */
#new-book-btn {
  background-color: #0074d9;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#new-book-btn:hover {
  background-color: #0056b3;
}

/* Styles for form input elements */
label,
input[type="text"],
input[type="checkbox"] {
  display: block;
  margin-bottom: 10px;
}

/* Styling for submit button */
input[type="submit"] {
  background-color: #0074d9;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Styling for the "Remove" button in book cards */
.remove-btn {
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #cc0000;
}
/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: var(--spacing-sm);
  }
  
  .fa-github {
    font-size: 24px;
    color: var(--black);
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }